* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

do
body {
  width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
}

.abouts {
  color: #838383 !important;
}

.dark {
  background-color: #F5F9FF;
}

.dark .about {
  color: #838383 !important;
}

.navbar {
  z-index: 1;
}

.navbar .nav-link {
  color: #ffffff !important;
  font-weight: 300;
}

.background {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
  background: #1c6de8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #1c6de8), to(#0346ac));
  background: linear-gradient(180deg, #1c6de8 35%, #0346ac 100%);
}

.background2 {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
  background: url(../Images/BG.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 100%;
  overflow-x: hidden !important;
}

.title {
  font-size: 70px;
  color: #ffffff;
  font-weight: 800;
}

.about {
  font-size: 22px;
  color: #ffffff !important;
  font-weight: 300;
}

.aboutQ {
  font-size: 18px !important;
  color: #ffffff !important;
  font-weight: 300;
}

.Partners, .makePayment, #Points, #Download {
  position: relative;
}

.part {
  font-size: 60px;
}

.beansTop {
  position: absolute;
  top: 0;
  left: 25%;
}

.beans {
  position: absolute;
  bottom: 0;
  right: 25%;
}

.makePayment .beansTop {
  position: absolute;
  top: 0;
  left: 45%;
}

.makePayment .beans {
  position: absolute;
  bottom: 0;
  right: 35%;
}

.makePayment .beansTop {
  position: absolute;
  top: 0;
  left: 25%;
}

.makePayment .beans {
  position: absolute;
  bottom: 0;
  right: 25%;
}

.makePayment .beans3 {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.cardContainer {
  border-radius: 10px;
}

.cardContainer .cardTitle {
  font-size: 32px;
  font-weight: 600;
}

.beans4 {
  position: absolute;
  top: 10%;
  right: 5%;
}

#Download {
  color: #ffffff;
}

#Download .downloadBg {
  width: 90%;
  height: 75%;
  z-index: -10;
  border-radius: 60px;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, 32%);
          transform: translate(-50%, 32%);
  background: #1c6de8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #1c6de8), to(#0346ac));
  background: linear-gradient(180deg, #1c6de8 35%, #0346ac 100%);
}

#Download .downloadTitle {
  font-size: 40px;
  color: #ffffff;
}

#Download p {
  font-size: 22px;
  font-weight: 300;
}

footer {
  background: #1c6de8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #1c6de8), to(#0346ac));
  background: linear-gradient(180deg, #1c6de8 35%, #0346ac 100%);
  color: white;
}

footer a {
  text-decoration: none;
  color: #ffffff !important;
}

footer p {
  font-weight: 300;
  font-size: 16px;
}

footer .copyRight {
  font-size: 18px;
}

footer .copyRightMessage {
  border-top: 2.5px solid #3168BC;
}

footer {
  position: relative;
  z-index: 1;
}

footer .background2 {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
  background: url(../Images/BG.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 480px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 40px !important;
  }
  footer .imgContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .heroText {
    text-align: center;
  }
  .heroText h1 {
    font-size: 40px !important;
  }
  .heroText p {
    font-size: 16px !important;
  }
  .background {
    height: 70%;
  }
  h1.part, .cardTitle {
    font-size: 26px !important;
  }
  .downloadBg {
    width: 90%;
    height: 75%;
    z-index: -10;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 5%) !important;
            transform: translate(-50%, 5%) !important;
    border-radius: 30px !important;
  }
  .downloadTitle {
    font-size: 26px;
  }
  p {
    font-size: 16px;
  }
  footer {
    text-align: start !important;
  }
}
/*# sourceMappingURL=index.css.map */